name: Build

on:
  push:
  pull_request:
  schedule:
    - cron: "0 4 * * *"

#  ARG alpine_version=3.17
#  FROM alpine:${alpine_version}
#
#  ARG php_version=81
#  ARG deployer_version=7.2
#  ARG composer_version=2.5.4
# --build-arg php_version="81"
jobs:
  build:
    name: Build Container
    runs-on: ubuntu-latest
    container:
      image: docker:latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v3
      -
        name: Docker info
        run: docker info
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          platforms: linux/amd64,linux/arm64
      -
        name: Build and Push container (latest)
        run: docker buildx build --push --platform linux/arm64,linux/amd64 --progress plain --no-cache --pull . -f ./Dockerfile -t "ochorocho/deployer:latest"
      -
        name: "Build & Push (deployer: 7.2, php: 8.1)"
        run: docker buildx build --push --platform linux/arm64,linux/amd64 --progress plain --no-cache --pull . -f ./Dockerfile -t "ochorocho/deployer:7.2-php81" --build-arg php_version="81" --build-arg deployer_version="7.2" --build-arg composer_version="2.5"
      -
        name: "Build & Push (deployer: 7.2, php: 8.0)"
        run: docker buildx build --push --platform linux/arm64,linux/amd64 --progress plain --no-cache --pull . -f ./Dockerfile -t "ochorocho/deployer:7.2-php80" --build-arg php_version="80" --build-arg deployer_version="7.2" --build-arg composer_version="2.5"
