name: Build

on:
  push:
  pull_request:
  schedule:
    - cron: "0 4 * * *"

build:
  name: Build Project
  runs-on: ubuntu-latest
  steps:
    - name: Checkout code
      uses: actions/checkout@v1
    - name: Build docker images
      run: >
        docker build --progress plain --no-cache --pull . -f Dockerfile -t "ochorocho/deployer:latest"
    - name: Build exam
      run: >
        docker run -v 
        $GITHUB_WORKSPACE:/srv 
        -w/srv foobar make

#jobs:
#  docker:
#    name: Docker Image Builder
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#
#      - uses: docker-practice/actions-setup-docker@master
#      - run: |
#          set -x
#          docker version
#      -
#        name: Set up QEMU
#        uses: docker/setup-qemu-action@v2
#      -
#        name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v2
#        with:
#          platforms: linux/amd64,linux/arm64
#      -
#        name: Login to DockerHub
#        uses: docker/login-action@v2
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
#      -
#        name: Build and export to Docker
#        uses: docker/build-push-action@v3
#        with:
#          context: ./
#          push: true
#          platforms: linux/amd64,linux/arm64
#          tags: |
#            latest
#            7.2
#          build-args: |
#            alpine_version=3.17
#            php_version=81
#            deployer_version=7.2
#            composer_version=2.5.4
#      -
#        name: Test for expected binaries
#        run: |
#          echo ${{ steps.get-tag.outputs.tag }}
#          docker run --rm -v ${GITHUB_WORKSPACE}/test.sh:/tmp/test.sh --entrypoint "ash" ochorocho/deployer:latest /tmp/test.sh
#      -
#        name: Build and push
#        uses: docker/build-push-action@v3
#        with:
#          context: ./
#          platforms: linux/amd64,linux/arm64
#          push: ${{ github.event_name != 'pull_request' }}
#          tags: |
#            latest
#            7.2
#          #labels: ${{ steps.meta.outputs.labels }}
